<ion-header>
  <ion-toolbar>
    <ion-title>
     Cadastro de Produtos      <ion-icon name="pricetags"></ion-icon>
    </ion-title>


  
  </ion-toolbar>
</ion-header>

<ion-content>



<ion-item>
<ion-label position="stacked">Nome</ion-label>
<ion-input [(ngModel)]="produto.nome" type="text"></ion-input>
</ion-item>

<ion-item>
<ion-label position="stacked">Imagem</ion-label>
<ion-input placeholder="Link da imagem" [(ngModel)]="produto.imagem" type="text"></ion-input>
</ion-item>

<ion-item>
<ion-label position="stacked">Preço</ion-label>
<ion-input [(ngModel)]="produto.preco" type="number">R$</ion-input>
</ion-item>

<ion-item>
<ion-label position="stacked">Quantidade</ion-label>
<ion-input [(ngModel)]="produto.quantidade" type="number"></ion-input>
</ion-item>

<ion-grid>
<ion-button (click)="criar()" expand="block"  color="danger" >Cadastrar</ion-button>
<p>*Insira o nome do Produto junto com a o link da imagem e seu respectivo valor, a quantidade você decide</p>

</ion-grid>






</ion-content>
