
ion-title{
  font-size: 1.5rem;
  font-style: normal;
  font-family: monospace;
  font-weight:bold;
  align-items: center;
  padding:13px;
  color: black;
  }

  ion-content.background{
    background-image: url(../~/src/app/assets/back.png);
    background-repeat: no-repeat;
    background-size: cover


  };